body  {
    background-color: #161A30;
}

nav{
    background-color: #F0ECE5;
    text-align: center;
}
header{
    text-align: center;
    color: #B6BBC4;
    margin: 20px;

}
h2{
    text-align: center;
    color: #B6BBC4;
}
p{
    color: #B6BBC4;
}
ul {
    color: #B6BBC4;
}

button{
    padding: 10px;
    color: #161A30;
    background-color: #B6BBC4;
}
footer {
    text-align: center;
    padding: 15px;
    background-color: #B6BBC4;
    color: #161A30;
    text-decoration: none;
}

